setuptools_scm<=7.1.0
ipython<=8.6.0
ipykernel<=6.17.1
linear_operator>=0.5.0
m2r2<=0.3.3.post2
nbclient<=0.7.3
nbformat<=5.8.0
nbsphinx<=0.9.1
platformdirs<=3.2.0
pyro-ppl
sphinx<=6.2.1
sphinx_rtd_theme<0.5
sphinx_autodoc_typehints<=1.23.0
torch>=1.11
